button, a {
  border-radius: 500px;

  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;

  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }

  @extend .ease-transition;
}

button.focus-visible, a.focus-visible {
  border: 1px solid transparent;
  outline: transparent solid 1px;
  &:focus, &:focus-visible, &:focus-within {
    border-color: rgba(255, 255, 255, 1);
    outline-color: rgba(255, 255, 255, 0.5);
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button:not(.icon-btn), a:not(.icon-btn) {
  &.sm {
    padding: 4px 8px;
    font-size: 0.875rem;
  }

  &.md {
    padding: 8px 16px;
    font-size: 1rem;
  }

  &.lg {
    padding: 12px 24px;
    font-size: 1.25rem;
  }
}
button.icon-btn, a.icon-btn {
  &.sm {
    padding: 4px;
  }
  &.md {
    padding: 8px;
  }
  &.lg {
    padding: 12px;
  }
}

.outline-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255,255,255,0.9);
  &:hover {
    border-color: rgba(255, 255, 255, 1);
    color: white;
  }
  background: transparent;
}

.filled-btn {
    background: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.95);
    &:hover {
      background: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
    }
}

.icon-btn {
  aspect-ratio: 1;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;

  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.text-btn {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  &:hover {
    color: white;
  }
}
