.artist {
  &--header {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .artist--info {
      position: relative;
      z-index: 2;
      padding: 1.2rem;

      h1 {
        font-size: clamp(2.5rem, 6vw, 5rem);
        line-height: 1;
        margin-bottom: 1rem;
        mix-blend-mode: difference;
      }
    }
    .artist--verified {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      margin-top: 0.5rem;
      svg {
        color: #33a1e2;
        width: 1.5rem;
      }
      p {
        color: rgb(var(--v-theme-secondary));
        font-size: 1.2rem;
      }
    }
  }

  &--about {
    padding: 1rem;
    h2 {
      margin-bottom: 1rem;
    }
    .v-card {
      display: flex;
      gap: 1rem;
      align-items: start;
      justify-content: space-between;
      margin-bottom: 1rem;
      max-width: 800px;
      padding: 2.5rem;
      flex-wrap: wrap;

      @media only screen and (max-width: 768px) {
        justify-content: center;
        gap: 4rem;
      }

      .info {
        text-align: center;
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 1rem;
        }

        p {
          max-width: 400px;
          margin: 0 auto;
        }
      }
      .artist--ranking {
        background: #0074e0;
        height: 100%;
        padding: 1rem;
        width: auto;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading {
          color: white;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }

  section {
    .grid__header {
      position: sticky;
      top: 80px;
    }
  }
}
