.search-page {
  padding: 1rem;
  section.top {
    display: grid;
    grid-template-columns: minmax(200px, .6fr) 1fr;

    @media (max-width: 1366px) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    gap: 2rem;
    .top-result {
      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      article {
        position: relative;
        padding: 1rem;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0.02);
        &:hover {
          background: rgba(255, 255, 255, 0.05);
        }
        .top-result--image {
          aspect-ratio: 1;
          height: 92px;
          width: 92px;
          border-radius: 8px;
        }
        h2 {
          a {
            font-size: 32px;
          }
        }
        &:hover {
          .play-button {
            display: flex;
            right: 1rem;
          }
        }
      }
    }
    .song-results {
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      ul li {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        gap: 1rem;
        padding-block: 4px;
        padding-inline: 4px 8px;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        img.play-icon {
          position: absolute;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          aspect-ratio: 1;
          height: 32px;
          width: 32px;
          top: .5rem;
          left: .5rem;
          transform: scale(0);
        }
        &:hover {
          img.play-icon {
            opacity: 1;
            transform: scale(1);
          }
        }
        img.track-image {
          aspect-ratio: 1;
          height: 40px;
          width: 40px;
          border-radius: 8px;
        }
        .info {
          h3 {
            font-size: 1rem;
            font-weight: 500;
          }
          p {
            font-size: 0.8rem;
            a {
              color: rgb(var(--v-theme-secondary))
            }
          }
        }
        &:hover {
          background: rgba(255, 255, 255, 0.1);
          .actions img {
            opacity: 1;
            pointer-events: all;
          }
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            aspect-ratio: 1;
            height: 20px;
            width: 20px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.1);
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg) brightness(1000%);
            }
            &:active {
              transform: scale(0.9);
            }
          }

          div {
            font-size: 0.8rem;
            color: #777;
          }
        }
      }
    }
  }
}
