* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Poppins", serif;
}

body {
  background: black;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ease-transition {
    transition: all 0.3s ease;
}

ul li {
  list-style: none;
}

.v-overlay__scrim {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  opacity: .95;
}
