.v-application {
  background: transparent;
}
.layout-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  gap: 8px;
  .app_bar {
    grid-column: 1 / -1;
    @media only screen and (max-width: 768px) {
      padding-top: 1rem !important;
    }
  }
  .app_nav, .app_main {
    background: rgb(var(--v-theme-primary-lighten-1));
    border-radius: 8px;

    // first 64px: app_nav
    // 12px: margin/padding
    // 64px: the sign-up-free footer
    //       it can be made conditional for logged in users
    height: calc(100vh - 64px - 16px - 64px);
    @media only screen and (max-width: 768px) {
      height: calc(100vh - 64px - 12px);
    }
  }
  .app_main {
    overflow-y: auto;
    overflow-x: auto;

    margin-inline: 0 8px;
    @media only screen and (max-width: 768px) {
      margin-inline: 8px;
    }

    @media only screen and (max-width: 768px) {
      grid-column: 1 / -1;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      overflow: hidden;
    }
  }
  .app_nav {
    padding: 8px;

    @media screen and (min-width: 768px) {
      margin-left: 8px;
    }

    .icon-btn {
      padding: 4px;
    }
  }
  .preview_of_spotify_footer {
    grid-column: 1 / -1;
    height: 64px;
    //margin-top: 10px;
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
}
