.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
.no-hover-underline {
  &:hover {
    text-decoration: none !important;
  }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ease-transition {
  transition: all 0.3s ease;
}

ul li {
  list-style: none;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pulse {
  height: 100%;
  width: 100%;
  background: linear-gradient(
      90deg,
      rgba(200, 200, 200, 0.1) 25%,
      rgba(200, 200, 200, 0.2) 50%,
      rgba(200, 200, 200, 0.1) 75%
  );
  background-size: 200% 100%;
  animation: pulse 2s infinite;
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.grow {
  flex-grow: 1;
}
.rotate-90 {
  transform: rotate(90deg);
}
